<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <label>iphon8</label>
    <img src="/static/120010812767254099757940_x.jpg">
    <br>
    <span>黑色</span><br>
    <span>64G</span><br>
    <span>全网通</span><br>
    <span>数量有限，仅10台，秒杀价3000</span><br>
    <label>距离秒杀开始时间：</label><time>1小时10分钟20秒</time><br>
    <button href="/goodsOperate/buy?id=10" id="bug">购买</button>
</body>
<script>
    document.getElementById("buy").disable = true;
</script>
</html>